doctype html
html
  head
    title Jesus en vos confio
    meta(charset="UTF-8")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
    script(src="/javascripts/script.js")
  body
      div(class="container-fluid")
          header(class="row")
            div(class="container")
                h1 Sociedad San Juan
          block content
          footer(class="row")
            div(class="container")
                div(class="row")
                    div(class="col-md-4 col-sm-12 col-xs-12 contacto")
                        h6 Contacto
                        div
                            i(class="fas fa-phone iconos")
                            span +54 9 351 676 4741
                        div
                            i(class="fas fa-envelope iconos")
                            span solutionsfrog@gmail.com
                    div(class="col-md-4 col-sm-12 col-xs-12")
                    div(class="col-md-4 col-sm-12 col-xs-12")
                        figure(class="logo-frog")
                            img(src="/images/fs.png")


